<div class="nav-header ">
 <div>
      <%= link_to  :back do %>
        <%= image_tag "back.svg", style: 'height:10px; width:auto;' %>
      <% end  %>
    </div>
  <h4 class="text-gray-4 ">Expenditures</h4> 
  <div> </div>
  
</div>