<div class = "col-xs-12 d-flex flex-column height-full">
  <div class = "d-flex justify-content-center align-items-center height-80">
   <h1 class="text-gray-2">Budgetly<h1>
  </div>
  <div class = " d-flex flex-column p-0 height-20">
    <%= link_to "Log in", new_user_session_path, class:'btn-action bg-blue text-gray-4' %>
    <%= link_to "Sign up", new_user_registration_path, class:'btn-action text-gray-2' %>
  </div>
</div>