<div id="<%= dom_id expenditure %>">

<div class= 'category-container'>
<div><strong><%= @group_id.name %>:</strong> </div>
  <div> <%= expenditure.name %> </div>
  <div>$ <%= expenditure.amount %></div>
</div>
</div>



