/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .bg-blue{
   background-color: #3678C2;
 }

 .bg-green{
   background-color: #60B523;
 }

 .bg-light{
   background-color: #F0F3F2;
 }

 .text-gray-1{
   color: #434B55;
 }

  .text-gray-2{
    color: #555D67;
  }

  .text-gray-3{
    color: #878A8F;
  }

  .text-gray-4{
    color: #F0F3F2!important;
  }

  /* paddings margins */
.p-0{
  padding:  0;
}

.text-center{
  text-align: center;
}
/* Flex */

.d-flex{
  display: flex;
} 

.justify-content-center {
  justify-content: center!important;
}

.align-items-center{
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

.min-height-full{
  min-height: 100vh;
}

.height-full{
  height: 100vh;
}

.height-80{
  height: 80vh;
}

.height-20{
  height: 20vh;
}

/* Buttons */

.btn-action{
  padding: 1.8rem;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.7rem;
}

.nav-right-action{
  background-color: #3678C2!important;
  border: none;
  letter-spacing: 1px;
}

.add-ne-category-btn{
  padding: 2rem;
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  background-color: #60B523!important;
  text-align: center;
  border: none!important;;
}

/*  */

.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3678C2;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.form-group{
  margin: 0;
}

.form-control-custom{
  width: 100%;
  border: 1px solid #F0F3F2;
  padding: 1rem;
  border-radius: 0;
}


input:focus{
  outline: #fff!important;
}

select{
  padding: 1rem;
  width: 100%;
  border: none;
  border-top: 1px solid #878A8F;
  border-bottom: 1px solid #878A8F;
  background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.label{
  padding-left: 1rem;
}
.category-container:first-child{
  border-top: 1px solid #878A8F;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 2rem;
  border-bottom: 1px solid #878A8F;
  height: 6rem;
  align-items: center;
}